/* GLOBAL STYLING */

:root {
  font-size: 16px;
  --font-family-main: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-family-alternative: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --rich-bg-color: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  --nav-rich-color: linear-gradient(60deg, #29323c 0%, #485563 100%);
  --bg-color: #e9eced;
  --bg-content: white;
  --text-color: #50596c;
  --text-in-reverse-color: white;
  --danger-color: #ff5722;
  --text-color-darker: #455a64;
  --text-primary: #424242;
  --text-alternative: #909090;
  --nav-border-radius: 10px;
  --content-border-radius: 4px;
  --backgroung-gradient-start-color: #93a5cf;
  --backgroung-gradient-end-color: #e4efe9;
  --content-area-bg-color: #fff;
  --default-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  --color-primary: #2f5ee8;
  --color-7: #ab47bc;
  --main-color: #009afa;
  --menu-bg-links: #424f5c;
  --menu-bg-links-hover: #00000050;
  --card-thin-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
  --card-thin-box-shadow-hover: rgba(45, 45, 45, 0.05) 0 2px 2px,
    rgba(49, 49, 49, 0.05) 0 4px 4px, rgba(42, 42, 42, 0.05) 0 8px 8px,
    rgba(32, 32, 32, 0.05) 0 16px 16px, rgba(49, 49, 49, 0.05) 0 32px 32px,
    rgba(35, 35, 35, 0.05) 0 64px 64px;
  --info-card-bg-color: #d1ecf1;
  --info-card-color: #0c5460;
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  font-family: var(--font-family-main);
  background-image: var(--rich-bg-color);
  color: var(--text-primary);
  display: flex;
  margin: 0;
  padding: 0;
  padding: 2em 4em;
  min-height: 100%;
}

.is-hidden {
  display: none;
}

.is-main-content-area {
  width: 90%;
  height: 100%;
  position: relative;
  margin: 1em auto;
  background: var(--content-area-bg-color);
  box-shadow: var(--default-shadow);
  padding: 25px;
  border-radius: var(--content-border-radius);
}

.is-wrapper {
  height: 100%;
  display: flex;
}

nav {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background-image: var(--nav-rich-color);
  /* background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%); */
  box-shadow: 4px 13px 30px 1px rgb(159, 174, 199);
  transition: width 0.3s;
}

main {
  flex: 1;
  height: 100%;
}

.is-title {
  font-size: 2em;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 1.5em;
}

.is-text {
  color: var(--text-primary);
  margin-bottom: 30px;
  line-height: 1.7em;
}

.strong-quote {
  font-family: var(--font-family-alternative);
  font-size: 2.4rem;
  color: #424e5b7a;
  line-height: 1.5;
  font-weight: 100;
  padding: 0 0.5em 1em ;
}

.is-hero {
  display:flex;
  justify-content:space-around;
}

.is-hero > div {
  font-size: 10rem;
    background: -webkit-linear-gradient(#2f5ee8, #b7b7b7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: .4;
    margin: .3em 0;
}

.sub-heading {
  font-family: var(--font-family-alternative);
  color: var(--text-alternative);
  font-size: 1.5rem;
}

.nav-wrap {
  display: flex;
  /* height: 100%; */
  flex-direction: column;
  width: 100%;
}

.is-logo {
  max-width: 125px;
  object-fit: fill;
  margin-left: 1em;
}

.is-logo img {
  max-width: 100%;
  max-height: 100%;
}

ul.nav-bar {
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  height: 100%;
  margin: 0;
  padding: 1.5em 0;
}

ul.nav-bar .nav-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
  text-align: center;
}

ul.nav-bar .nav-item {
  width: 100%;
}

ul.nav-bar .nav-item.is-brand {
  margin-bottom: 2em;
}

.is-icon {
  background: #143267;
  padding: 0.9em 0.8em;
  border-radius: 100%;
  display: flex;
  align-items: center;
  font-size: 1rem;
  justify-content: center;
  color: #fff;
}

.is-color-1 {
  background: #5c6bc0;
}

.is-color-2 {
  background: #42a5f5;
}

.is-color-3 {
  background: #66bb6a;
}

.is-color-4 {
  background: #ec407a;
}

.is-color-5 {
  background: #ffb300;
}

.is-color-6 {
  background: #ff5722;
}

.is-color-7 {
  background: var(--color-7);
}

.is-link-text {
  font-size: 0.75rem;
  color: #fff;
  padding-top: 0.7em;
}

.is-spark {
  display: none;
  font-size: 2rem;
  color: #fff;
  transform: rotate(0deg);
  transition: all 0.3s;
  cursor: pointer;
}

/* NAV SUB LEVEL ELEMENTS */

.has-sub-level-wrap {
  display: flex;
  height: 3.1em;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.has-sub-level {
  display: flex;
  align-items: baseline;
  position: relative;
  cursor: pointer;
}

.has-sub-level-icon {
  font-size: 1rem;
  color: #fff;
  margin-left: 0.5em;
}

.is-dropdown-content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 6px;
  left: 100%;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 165px;
  background: var(--menu-bg-links);
  transform: translateX(25%);
  transition: all 0.3s;
}

.is-dropdown-content ul.nav-bar {
  padding: 0;
}

.is-dropdown-content ul.nav-bar .nav-item {
  margin-bottom: 0;
  padding: 1em;
  background: transparent;
  transition: all 0.5s;
}

.is-dropdown-content ul.nav-bar .nav-item:hover {
  margin-bottom: 0;
  background: var(--menu-bg-links-hover);
}

.is-dropdown-content ul.nav-bar .nav-link {
  color: #fff;
  height: auto;
}

.is-sub-menu-indented {
  display: flex;
  flex-direction: column;
}

.has-sub-level.is-indented {
  display: none;
  flex-direction: column;
}

.has-sub-level.is-indented ul.nav-bar {
  width: 100%;
  display: flex;
  padding: 0.5em 0 0 1.1em;
}

.has-sub-level.is-indented ul.nav-bar .nav-item {
  margin-bottom: 0;
  position: relative;
  padding-left: -0.6em;
  padding: 0.5em 0;
}

.has-sub-level.is-indented ul.nav-bar .nav-item::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 7.5px;
  background-color: var(--color-7);
  position: absolute;
  top: 12px;
}

.has-sub-level.is-indented ul.nav-bar .nav-link {
  color: #fff;
  height: auto;
  padding-left: 3.3em;
}

/* RESPONSIVE 12 COL GRID */

.is-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-gap: 20px;
}

.is-grid-wrapper > div {
  grid-column: col-start 1 /-1;
}

/* BREAKPOINTS */

@media screen and (min-width: 36em) {
  .is-main-content-area {
    margin: 2em auto;
  }
}

@media screen and (min-width: 48em) {
}

@media screen and (min-width: 62em) {
  .is-main-content-area {
    margin: 3em auto;
    margin-right: 3rem;
  }
}

@media screen and (min-width: 75em) {
  .is-main-content-area {
    width: 90%;
  }

  nav {
    width: 17em;
    margin-top: 1.5em;
    position: unset;
    display: inline-flex;
    height: 100%;
    min-height: 70vh;
    transform: translateX(-80px);
    border-radius: var(--nav-border-radius);
  }

  nav.collapsed {
    width: 7em;
  }

  nav.collapsed .is-link-text {
    display: none;
  }

  nav.collapsed .is-logo {
    display: none;
    padding-top: 0.5em;
  }

  nav.collapsed .has-sub-level {
    display: none;
  }

  .nav-wrap {
    align-items: flex-start;
    padding: 0 2em;
  }

  ul.nav-bar {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  ul.nav-bar .nav-item {
    margin-bottom: 1.5em;
  }

  ul.nav-bar .nav-item.is-brand {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 3em;
  }

  ul.nav-bar .nav-link {
    flex-direction: row;
    align-items: baseline;
    height: 3.1em;
  }

  .is-link-text {
    font-size: 1rem;
    margin-left: 1rem;
    white-space: nowrap;
  }

  main {
    margin-right: 3em;
  }

  .is-spark {
    display: block;
    transform: rotate(-180deg);
    color: #5384dc;
  }

  nav.collapsed .is-spark {
    transform: rotate(0deg);
    color: white;
  }

  .has-sub-level:hover .is-dropdown-content {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }

  nav:hover .has-sub-level.is-indented {
    display: flex;
  }

  .has-sub-level-wrap {
    flex-direction: row;
    align-items: baseline;
  }

  .is-spark2 {
    display: inline-block;
  }

  .option-1,
  .option-2 {
    display: block;
  }
}

@media screen and (min-width: 100em) {
  nav {
    min-height: 50vh;
  }
}
