.is-button {
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    position: relative;
    cursor: pointer;
    font-size: .9rem;
    font-weight: 700;
    margin-bottom: 10px;
    background-image: none;
    background-size: 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: background-color 0.3s cubic-bezier(0.64, 0.09, 0.08, 1), box-shadow 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    will-change: background-size, background-image;
    padding: 7px 14px;
    display: flex;
    border-radius: 1.98px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    will-change: box-shadow, background-color;
    color: white;
}

.is-button.save {
    background-image: radial-gradient(circle, #009afa 1%, #48b9ff 15%, rgba(0, 0, 0, 0) 30%);
    background-color: #009afa;
}

.is-button i,
.is-button span {
    display: block;
}

.is-button span {
    padding-left: .5em;
}